body {
  font-family: "Roboto", sans-serif;
  background-size: cover;
  margin: 0;
  padding: 0;
}

.signup_page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 5px;
  /*box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);*/
  width: 300px;
  height: 70vh;
  text-align: center;
}

.signup {
  text-align: center;
  font-size: 12px;
  color: #000000;
}

.signup h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  display: block;
  text-align: left;
  margin-bottom: 5px;
  color: #000000;
  font-weight: bold;
}

.input-wrapper {
  position: relative;
}

input[type="text"],
input[type="mail"],
input[type="password"] {
  background-color: rgba(255, 255, 255, 0.35);
  width: calc(100% - 30px);
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid rgba(249, 248, 248, 0);
  border-radius: 30px;
  font-size: 11px;
}

input[type="text"]::placeholder,
input[type="mail"]::placeholder,
input[type="password"]::placeholder {
  color: #979696;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #272626;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

button[type="submit"]:hover {
  background-color: rgb(144, 143, 143);
  color: #fff;
}

.agreement {
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 15px;
  font-size: 10px;
  margin-top: 20px;
  color: #000000;
}

.agreement a {
  color: #bb8348;
  text-decoration: none;
}

.agreement a:hover {
  text-decoration: underline;
}

.login {
  font-size: 15px;
  margin-top: 0px;
  color: #898787;
}

.login a {
  color: #f8c899;
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
